# Changelog

### {{ template current_version }}

{{ template important_updates }}

Images:

{{ template controller_image_digests }}

### All Changes:

{{ template all_updates }}

### Dependencies updates:

{{ template dependency_updates }}

## New Contributors

{{ template new_contributors }}

**Full Changelog**: https://github.com/kubernetes/ingress-nginx/compare/controller-{{ template previous_version }}...controller-{{ template current_version }}

{{ template previous_changelog }}